@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Lista Vacia</h2>

<p>
    Usted no cuenta con ningun tablero.
</p>
<p>
    <strong>Para crear un tablero precione <a asp-area="" asp-controller="Tablero" asp-action="CrearTablero">aqui</a></strong>
</p>
