@{
    ViewData["Title"] = "Tablero";
}

<div class="text-center">
    <h1 class="display-4">Interfaz de Tablero</h1>
    
    <ul class="list-unstyled list-inline">
        <li><a asp-controller="Tablero" asp-action="ListarTableros">Listar Tableros</a></li>
        <li><a asp-controller="Tablero" asp-action="CrearTablero">Crear Tablero</a></li>
    </ul>
</div>