@{ViewData["Title"] = "Home";}

<section>
    <H1 class="text-center text-info">Bienvenido</H1>

    <h2 class="text-center">Este es tu sistema de gestion de tableros</h2>
    <h2 class="text-center">Aqui podras crear y modificar tus tableros, asi como crear y modificar las tareas</h2>
    <h2 class="text-center">En la barra de navegacion encontraras los enlaces que te llevaran a las listas, desde ahi podras hacer uso de las herramientas</h2>
</section>