@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Lista Vacia</h2>

<p>
    Este tablero no cuenta con ninguna Tarea.
</p>
<p>
    <strong>Para crear una Tarea precione <a asp-area="" asp-controller="Tarea" asp-action="CrearTarea" asp-route-id="@Model">aqui</a></strong>
</p>
