@{
    ViewData["Title"] = "Tarea";
}

<div class="text-center">
    <h1 class="display-4">Interfas de Tarea</h1>
    
    <ul class="list-unstyled list-inline">
        <li><a asp-controller="Tarea" asp-action="ListarTareas">Listar Tareas</a></li>
        <li><a asp-controller="Tarea" asp-action="CrearTarea">Crear Tarea</a></li>
    </ul>
</div>