
html {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
  background-color: #6576b4 !important;
  margin-bottom: 0 !important;
}

.navbar-brand {
  color: aliceblue !important;
  font-weight: bold !important;
  font-size: 1.7rem !important;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: #E6F4F1 !important;
}

main {
  background-color: #E6F4F1;
  min-height: 84.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 1.5rem;
}

#loginform {
  max-width: 50%;
  border: 1px solid black;
  padding: 3%;
  border-radius: 5%;
}

#loginform fieldset {
  text-align: center;
  font-size: large;
  font-weight: bold;
  margin-bottom: 1rem;
}

#loginform input {
  width: 100%;
}

#botoniniciosesion {
  border: 1.5px solid #6576b4 !important;
  color: #6576b4 !important;
  background-color: aliceblue !important;
}

#botoniniciosesion:hover, #botoniniciosesion:focus {
  background-color: #6576b4 !important;
  color: aliceblue !important;
}

footer {
  background-color: #6576b4;
  text-align: center;
}

footer div {
  color: aliceblue;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
} */

html {
  position: relative;
  min-height: 100%;
}

/* body {
  margin-bottom: 60px;
  background-color:darkgray;
} */

.ocultar_msj {
  display: none;
}

.custom_bg{
  background-color: #258cfb;
}

.custom_text_color{
  color: crimson;
}

.Verde{
  background-color: lightgreen !important;
}

.Amarillo{
  background-color: rgb(248, 248, 154) !important;
}

.Rojo{
  background-color: lightcoral !important;
}

.formu {
  max-width: 70%;
  border: 1px solid black;
  padding: 5%;
  border-radius: 5%;
}

.tab{
  border-collapse: collapse;
  /*border: 1px solid black;*/
  padding: 10%;
  text-align: center;
  background-color: rgb(172, 212, 247);
  width: 80%;
  font-size: 100%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 1%;
}

.tab-td{
  border-collapse: collapse;
  border-top: 1px solid rgb(114, 113, 113);
  border-bottom: 1px solid rgb(114, 113, 113);
  padding: 2%;
  width: auto;
}

.tab-btn{
  border-collapse: collapse;
  border-top: 1px solid rgb(114, 113, 113);
  border-bottom: 1px solid rgb(114, 113, 113);
  padding: 2%;
  width: 20%;
}

.tab-tit{
  border-collapse: collapse;
  border-top: 1px solid rgb(114, 113, 113);
  border-bottom: 1px solid rgb(114, 113, 113);
  padding: 2%;
  width: auto;
  background-color: rgba(136, 167, 252, 0.842);
}

.btn-w{
  text-align: center;
  width: 100%;
  padding: 0.5%;
}

.btn-b{
  text-align: center;
  width: 150%;
  padding: 15%;
}

.alg{
  display: flex;
  align-self: flex-start;
  margin-left: 10%;
}