@model UsuarioViewModel
<form asp-controller="Usuario" asp-action="CrearUsuario">
    <label asp-for="NombreDeUsuario"></label>
    <input asp-for="NombreDeUsuario" />
    <label asp-for="Contrasenia"></label>
    <input asp-for="Contrasenia" />
    <label asp-for="Tipo"></label>
    <select asp-for="Tipo" asp-items="Html.GetEnumSelectList<TiposUsuario>()">
        <option value="">Seleccione un estado</option>
    </select>
    <button type="submit" class="btn btn-success"
        onclick="return confirm('¿Estás seguro de crear el usuario?')">Agregar</button>
</form>