@{
    ViewData["Title"] = "Usuario";
}

<div class="text-center">
    <h1 class="display-4">Interfaz de Usuarios</h1>
    
    <ul class="list-unstyled list-inline">
        <li><a asp-controller="Usuario" asp-action="ListarUsuarios">Listar Usuarios</a></li>
        <li><a asp-controller="Usuario" asp-action="CrearUsuario">Crear Usuario</a></li>
        
    </ul>
</div>