@model usuario

<h3>Modificar usuario</h3>

<div>
    <p>desea cambiar el nombre de este usuario: @Model.NombreDeUsuario ?</p>
</div>
<form asp-controller="Usuario" asp-action="Modifica">
    <input asp-for="Id" type="hidden">
    <label asp-for="NombreDeUsuario"></label>
    <input asp-for="@Model.NombreDeUsuario" />
    <label asp-for="Tipo"></label>
    <select asp-for="@Model.Tipo" asp-items="Html.GetEnumSelectList<TiposUsuario>()">
        <option value="">Seleccione un estado</option>
    </select>
    <button type="submit" class="btn btn-primary" onclick="return confirm('estas seguro de cambiar este usuario?')">Actualizar</button>
    <a asp-controller="Usuario" asp-action="ListarUsuario" class="btn btn-primary">Cancelar</a>
</form>